:root {
    --title-text-color: #212121;
    --secondary-text-color:#757575;
    --background-color:#ffffff;
    --accent-color: #2196F3;
}

body{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}




/* Лого */

.logo-part-1, .logo-part-2{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-part-1{
    color: var(--accent-color);
}

/* Site nav */


.site-nav-list .link{
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.contacts .link{
    color: #757575;
    letter-spacing: 0.02em;
}


.link {
    text-decoration: none;
    
}

.list{
    list-style: none;
}

/* Герой */

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: #d73a3a;
}


/* Особливості */

.features .title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.features .text{
    line-height: 1.71;
    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Наша команда */

.team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team .position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}

/* Footer */

.address{
    font-style: normal;
    line-height: 1.71;
}

.city{
    color: #c52c2c;
}

.address .link{
    letter-spacing: 0.03em;
    color: rgba(125, 17, 167, 0.6);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.button:hover,
.button:focus { 
    color: var(--accent-color);
    /* СУКА НЕ РОБЕ */
} 


/* ПОРТФОЛІО */

.button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}

.work-exampels .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-exampels .title-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}