:root {
    --title-text-color: #212121;
    --secondary-text-color:#757575;
    --background-color:#ffffff;
    --accent-color: #2196F3;
}

body{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}




/* Лого */

.logo-part-1, .logo-part-2{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.94;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-part-1{
    color: var(--accent-color);
}

/* Site nav */


.site-nav-list .link{
    var(--title-text-color;)
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 700;
    letter-spacing: 0.02em;
}

.contacts .link{
    color: #757575;
    letter-spacing: 0.02em;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.list{
    list-style: none;
}

/* Герой */

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: #d73a3a;
}

.button{
    align-items: center ;
}